.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: white;
  border: none;
  padding-top:0.5em;
  padding-left:2em;
  border-radius: 50px;
  padding-right:2em;
  padding-bottom: 0.5em;
  background-color: #370511FF;

}
