.sidebar {
    position: fixed;
    left: -250px; /* Initially hide the sidebar */
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #333; /* Sidebar background color */
    transition: left 0.3s ease; /* Smooth transition for sidebar animation */
  }
  
  .sidebar.open {
    left: 0; /* Show sidebar when open */
  }
  
  .hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2; /* Ensure hamburger is above sidebar content */
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #fff; /* Hamburger line color */
    margin-bottom: 5px;
  }
  