.b {
	font-family: "Montserrat", sans-serif;
    position: absolute;
	width: 100%;
	min-height: 100vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
padding: auto;
position: fixed;
z-index: 4;
}

.nav-container{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
   
}
.coming-soon {
	font-style: italic;
	font-size: smaller;
  }
  

.nav-bars{
	width: 30px;
	height: 4px;
	background: #ffffff;
}

.nav-bars::before,
.nav-bars::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #fffcfc;
    	 

}

.nav-bars::before{
	margin-top: 9px;
}

.nav-bars::after{
	margin-top: 18px;
}

nav{
	position: absolute;
	width: 100%;
    height: 30px; /* Set initial height to 0 */
    overflow: hidden; /* Hide overflowing content initially */
	background: #ffffff;
	display: flex;
	justify-content:center;
	align-items: center;
	right: -200vw;
    z-index: 4;
   
    
}

nav ul {
	list-style: none;
}
nav h2{
    color:#000000;
    position: absolute;
	top:5%;
	left: 5%;
    cursor: pointer;
	opacity: 0;
	pointer-events:fill;
}
nav ul li{
	margin: 50px 0;
	cursor: pointer;
	color: #000000;
}

nav ul li a{
	color: #000000;
	
	text-decoration:dotted;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
    font-size: clamp(36px, 6vh, 20px);
    padding: clamp(4px, 2vh, 24px);
    
   /* Will override color (regardless of order) */

}
nav ul li:hover{
	color: rgb(237, 0, 0);
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #000000;
    color:#000000;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .5s ease;
	transform: scaleX(0);
   
   
}


nav ul li a:hover:after{
	transform: scaleX(1);
}

nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}


nav .close div::before,
nav .close div::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #000000;
	transition: background .5s ease;
}
nav .close div::before{
	transform: rotate(-45deg);
}

nav .close div::after{
	transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after{
	background: rgb(209, 3, 3);
}

@media (max-width: 992px){
  h1{
    font-size: 25px;
  }
}